body {
    font-family: Arial, sans-serif;
    background-image: url(descarga\ \(3\).jpeg); 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

main {
    padding: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
}

.person-card img {
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer; 
}

.additional-info {
    display: none; 
    margin-top: 15px;
    font-size: 0.9em;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

